n8n/severino-xmpp.json
{
  "name": "severino-xmpp",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-xmpp.xmppTrigger",
      "typeVersion": 2,
      "position": [
        0,
        192
      ],
      "id": "6eb14ff3-4e3c-4d96-909f-85809eaec889",
      "name": "XMPP Trigger",
      "credentials": {
        "rabbitMqApi": {
          "id": "jH8Gn7gHdkAC7fSm",
          "name": "rabbitmq"
        },
        "xmppApi": {
          "id": "P51zhK7J4cupqfVw",
          "name": "severino"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        528,
        624
      ],
      "id": "f64e73b9-b9d3-48a7-a284-2c311af5ac11",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "5WQpW0kymSLeelG7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "to": "={{ $('XMPP Trigger').item.json.data.from }}",
        "message": "={{ $json.output }}"
      },
      "type": "n8n-nodes-xmpp.xmpp",
      "typeVersion": 1,
      "position": [
        800,
        400
      ],
      "id": "9537a015-f880-4df9-a42f-f4df24d93c39",
      "name": "Send message",
      "credentials": {
        "rabbitMqApi": {
          "id": "jH8Gn7gHdkAC7fSm",
          "name": "rabbitmq"
        },
        "xmppApi": {
          "id": "P51zhK7J4cupqfVw",
          "name": "severino"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.body }}",
        "options": {
          "systemMessage": "seu nome é severino, um personagem do tipo faz tudo"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        448,
        400
      ],
      "id": "f60fefce-ea2b-4028-b336-c5ef0ce0e22a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.data.from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        528,
        112
      ],
      "id": "7e1b26cb-521e-4711-9e0c-ebc5a6c4a8b2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "740cf9e9-c4c2-4208-bc47-df0a30df00c5",
              "leftValue": "={{ $json.data.body }}",
              "rightValue": "#wipe",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        192
      ],
      "id": "7431c1f3-90a7-47e3-98ef-e061d60ba167",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        448,
        -112
      ],
      "id": "233578a4-d112-4c20-8ac5-b9349d67eb2a",
      "name": "Chat Memory Manager"
    },
    {
      "parameters": {
        "to": "={{ $('XMPP Trigger').item.json.data.from }}",
        "message": "=comando #wipe aceito"
      },
      "type": "n8n-nodes-xmpp.xmpp",
      "typeVersion": 1,
      "position": [
        768,
        -112
      ],
      "id": "fd76154a-c6ab-4fae-a5f0-d14b0fe37d6a",
      "name": "wipe ok",
      "credentials": {
        "rabbitMqApi": {
          "id": "jH8Gn7gHdkAC7fSm",
          "name": "rabbitmq"
        },
        "xmppApi": {
          "id": "P51zhK7J4cupqfVw",
          "name": "severino"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "XMPP Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Chat Memory Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager": {
      "main": [
        [
          {
            "node": "wipe ok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c42bd399-35e6-4a52-aec2-2cec26f5c286",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d70233ea56b61b0474fabe981c3bb8fd4d87619c3204c729e2edebe7d21e19d"
  },
  "id": "1JIZ9vMgUnCDrhg2",
  "tags": []
}